/* Modo oscuro para Beneficios */
body.dark-mode .beneficios-container {
  background-color: #1e1e1e; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
}

body.dark-mode .beneficio-card {
  background-color: #2a2a2a; /* Fondo más oscuro para las tarjetas */
  color: #ffffff; /* Texto blanco */
  border: 1px solid #444; /* Borde más claro */
}

body.dark-mode .beneficio-card h3 {
  color: #90C074; /* Color verde para los títulos */
}

body.dark-mode .beneficio-card p {
  color: #cccccc; /* Texto gris claro */
}